In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('healthcare.csv')

# 1. Inspecting a DataFrame

In [3]:
data.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [4]:
data.tail()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal
55496,KYle pEREz,61,Female,AB-,Obesity,2020-01-23,Taylor Sullivan,Tucker-Moyer,Cigna,31457.797307,316,Elective,2020-02-01,Aspirin,Normal
55497,HEATher WaNG,38,Female,B+,Hypertension,2020-07-13,Joe Jacobs DVM,"and Mahoney Johnson Vasquez,",UnitedHealthcare,27620.764717,347,Urgent,2020-08-10,Ibuprofen,Abnormal
55498,JENniFER JOneS,43,Male,O-,Arthritis,2019-05-25,Kimberly Curry,"Jackson Todd and Castro,",Medicare,32451.092358,321,Elective,2019-05-31,Ibuprofen,Abnormal
55499,jAMES GARCiA,53,Female,O+,Arthritis,2024-04-02,Dennis Warren,Henry Sons and,Aetna,4010.134172,448,Urgent,2024-04-29,Ibuprofen,Abnormal

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [6]:
data.describe()

                Age  Billing Amount   Room Number
count  55500.000000    55500.000000  55500.000000
mean      51.539459    25539.316097    301.134829
std       19.602454    14211.454431    115.243069
min       13.000000    -2008.492140    101.000000
25%       35.000000    13241.224652    202.000000
50%       52.000000    25538.069376    302.000000
75%       68.000000    37820.508436    401.000000
max       89.000000    52764.276736    500.000000

In [7]:
data.shape

(55500, 15)

In [8]:
data.values

array([['Bobby JacksOn', 30, 'Male', ..., '2024-02-02', 'Paracetamol',
        'Normal'],
       ['LesLie TErRy', 62, 'Male', ..., '2019-08-26', 'Ibuprofen',
        'Inconclusive'],
       ['DaNnY sMitH', 76, 'Female', ..., '2022-10-07', 'Aspirin',
        'Normal'],
       ...,
       ['HEATher WaNG', 38, 'Female', ..., '2020-08-10', 'Ibuprofen',
        'Abnormal'],
       ['JENniFER JOneS', 43, 'Male', ..., '2019-05-31', 'Ibuprofen',
        'Abnormal'],
       ['jAMES GARCiA', 53, 'Female', ..., '2024-04-29', 'Ibuprofen',
        'Abnormal']], dtype=object)

In [9]:
data.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [10]:
# Lowercase column names
data.columns = data.columns.str.lower()

# Replace spaces with underscores
data.columns = data.columns.str.replace(' ', '_')
data.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

# 2. Sorting rows

In [11]:
data_mod= data.sort_values('age')
data_mod.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
50908,rOnalD daVis,13,Male,A+,Obesity,2023-12-06,Shannon Butler,"Kelly, and Gomez Williams",Cigna,3014.565852,241,Emergency,2024-01-04,Paracetamol,Normal
51900,jAcob wILLiAMs,13,Female,A+,Obesity,2020-03-03,Samantha Scott,"and Huerta, Cox Price",Medicare,42349.109219,373,Urgent,2020-03-20,Ibuprofen,Normal
51873,doRothY hoffMAn,13,Female,O-,Cancer,2020-07-18,Suzanne Jones,"Davis Davis, and Davis",Cigna,22316.169323,379,Elective,2020-08-10,Ibuprofen,Abnormal
50823,DEaNnA pALMeR,13,Male,AB-,Obesity,2020-09-20,Barbara Butler,"and Sanchez Phillips, Brown",Medicare,23941.759486,163,Emergency,2020-09-23,Penicillin,Inconclusive
51833,JoNaTHAn JacksoN,13,Female,B-,Obesity,2020-02-07,Kevin Friedman,Spencer-Shields,Medicare,30075.230981,472,Urgent,2020-02-24,Aspirin,Inconclusive

In [12]:
data_sort= data.sort_values(["age","billing_amount"])
data_sort.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
50908,rOnalD daVis,13,Male,A+,Obesity,2023-12-06,Shannon Butler,"Kelly, and Gomez Williams",Cigna,3014.565852,241,Emergency,2024-01-04,Paracetamol,Normal
52172,CHArlEs joRDAN,13,Male,A+,Arthritis,2021-05-13,Brian Baker,"Arellano and Armstrong Hensley,",UnitedHealthcare,10597.383799,451,Emergency,2021-06-12,Penicillin,Normal
51873,doRothY hoffMAn,13,Female,O-,Cancer,2020-07-18,Suzanne Jones,"Davis Davis, and Davis",Cigna,22316.169323,379,Elective,2020-08-10,Ibuprofen,Abnormal
50377,jamES BasS phD,13,Male,O+,Asthma,2020-12-30,Jennifer Hammond,"Pollard Wallace, Sims and",Blue Cross,22901.022707,476,Emergency,2021-01-17,Ibuprofen,Inconclusive
50823,DEaNnA pALMeR,13,Male,AB-,Obesity,2020-09-20,Barbara Butler,"and Sanchez Phillips, Brown",Medicare,23941.759486,163,Emergency,2020-09-23,Penicillin,Inconclusive

In [13]:
data_sort=data.sort_values("age", ascending=False)
data_sort.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
53825,mIchaeL POtTs,89,Male,A+,Hypertension,2023-01-19,Mary Vaughn,"and Perez, Bennett Townsend",Cigna,9542.739709,289,Emergency,2023-01-28,Paracetamol,Abnormal
52857,THomAs PHIllIpS,89,Female,A+,Hypertension,2022-05-22,Mark White,"and Martin, Davidson Cox",Cigna,48274.348627,332,Urgent,2022-05-26,Penicillin,Inconclusive
52372,DeBORah McBrIdE,89,Female,O+,Obesity,2021-05-28,Robert Garcia,"and Miller, Olson Olson",Cigna,5692.907188,166,Elective,2021-06-13,Paracetamol,Abnormal
54044,MiChAEL DOmINGuEz,89,Male,O+,Cancer,2021-09-07,Bridget Irwin,PLC White,Aetna,7628.951322,363,Elective,2021-09-24,Aspirin,Abnormal
54813,JerEmY hArdIN JR.,89,Male,A+,Diabetes,2019-11-05,Willie Stevens,Gray-Solomon,Cigna,7242.641277,113,Elective,2019-11-28,Penicillin,Normal

In [14]:
data_sort= data.sort_values(["age",'billing_amount'], ascending=[False, False])
data_sort.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
52857,THomAs PHIllIpS,89,Female,A+,Hypertension,2022-05-22,Mark White,"and Martin, Davidson Cox",Cigna,48274.348627,332,Urgent,2022-05-26,Penicillin,Inconclusive
52043,DAVId NeWTOn,89,Female,O+,Arthritis,2021-02-08,Jerry Hopkins,"Cooper Brown Parks, and",Aetna,34500.016817,242,Elective,2021-02-20,Penicillin,Inconclusive
55385,hEAthEr dawsOn,89,Male,O-,Arthritis,2022-07-18,Ann Hall,Moore-Gray,Aetna,17172.115995,455,Elective,2022-08-13,Ibuprofen,Normal
52828,doNALD aViLA,89,Female,AB-,Asthma,2022-09-17,Christopher Allen,"Holmes and Howard Castro,",Aetna,14042.748908,199,Emergency,2022-09-27,Aspirin,Abnormal
53825,mIchaeL POtTs,89,Male,A+,Hypertension,2023-01-19,Mary Vaughn,"and Perez, Bennett Townsend",Cigna,9542.739709,289,Emergency,2023-01-28,Paracetamol,Abnormal

In [15]:
data_s=data[["billing_amount", "discharge_date"]]
data_s.head()

   billing_amount discharge_date
0    18856.281306     2024-02-02
1    33643.327287     2019-08-26
2    27955.096079     2022-10-07
3    37909.782410     2020-12-18
4    14238.317814     2022-10-09

In [16]:
data_s= data[(data["age"] > 50) & (data["medical_condition"] == "Diabetes")]
data_s.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
12,connOR HANsEn,75,Female,A+,Diabetes,2019-12-12,Kenneth Fletcher,"Powers Miller, and Flores",Cigna,43282.283358,134,Emergency,2019-12-28,Penicillin,Abnormal
38,NIcOlE LUcErO,70,Female,O-,Diabetes,2022-03-12,Christine Johnson,"and Garcia Morris Cunningham,",Cigna,48290.693407,113,Emergency,2022-03-29,Lipitor,Abnormal
47,CHRis fRYe,58,Male,A-,Diabetes,2020-05-04,Heather Smith,Nelson-Phillips,Cigna,36992.273688,413,Urgent,2020-05-13,Aspirin,Normal
66,ChRiStOPhER gOnzAlez,59,Male,B+,Diabetes,2019-11-21,Patricia Dunn,Rhodes-Carey,Medicare,10107.187651,368,Emergency,2019-12-08,Penicillin,Abnormal
82,SeaN jenniNGs,80,Female,AB-,Diabetes,2023-11-12,James Tucker,Clark-Johnson,Blue Cross,20257.544283,255,Elective,2023-12-12,Penicillin,Abnormal

In [17]:
condition = ["Asthma", "Diabetes"]
condition = data["medical_condition"].isin(condition)
data[condition]

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
5,EMILY JOHNSOn,36,Male,A+,Asthma,2023-12-20,Taylor Newton,Nunez-Humphrey,UnitedHealthcare,48145.110951,389,Urgent,2023-12-24,Ibuprofen,Normal
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive
8,JASmINe aGuIlaR,82,Male,AB+,Asthma,2020-07-01,Daniel Ferguson,Sons Rich and,Cigna,50119.222792,316,Elective,2020-07-14,Aspirin,Abnormal
12,connOR HANsEn,75,Female,A+,Diabetes,2019-12-12,Kenneth Fletcher,"Powers Miller, and Flores",Cigna,43282.283358,134,Emergency,2019-12-28,Penicillin,Abnormal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55482,LUIs BaRbEr,58,Female,B+,Asthma,2021-07-05,Kevin Alexander MD,Morrison-Garcia,Cigna,12791.783203,412,Urgent,2021-07-12,Ibuprofen,Inconclusive
55483,kimbErlY RIchArDSoN,15,Male,A-,Diabetes,2022-06-27,Erik Jones,PLC Hill,Blue Cross,12239.838237,177,Elective,2022-07-05,Lipitor,Abnormal
55485,grEgorY jOHnSon dDs,41,Female,O-,Asthma,2020-10-06,Leslie Lowe,"Ferguson and Benson, Cobb",Medicare,35733.491150,182,Elective,2020-10-09,Paracetamol,Abnormal
55486,AngelA LEstER,83,Female,B+,Asthma,2021-08-23,Edward Jones,"Stevens Prince, and Schmitt",Aetna,36043.453992,191,Elective,2021-09-01,Paracetamol,Abnormal
55495,eLIZABeTH jaCkSOn,42,Female,O+,Asthma,2020-08-16,Joshua Jarvis,Jones-Thompson,Blue Cross,2650.714952,417,Elective,2020-09-15,Penicillin,Abnormal

In [18]:
data['summary'] =data['room_number'].astype(str) + data['admission_type']
data.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results,summary
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,328Urgent
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,265Emergency
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,205Emergency
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,450Elective
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,458Urgent

# Questions which can be answered using transformation steps above

In [19]:
#  What are the unique values present in the 'Blood Type' column?
unique_blood_types = data['blood_type'].unique()
unique_blood_types

array(['B-', 'A+', 'A-', 'O+', 'AB+', 'AB-', 'B+', 'O-'], dtype=object)

In [20]:
# Which medical conditions are associated with female patients?
fmd= data[(data['gender']=="Female")  & (data['medical_condition'])]
fmd.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results,summary
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,205Emergency
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,450Elective
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,458Urgent
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive,389Emergency
7,CHrisTInA MARtinez,20,Female,A+,Cancer,2021-12-28,Suzanne Thomas,"Powell Robinson and Valdez,",Cigna,45820.462722,277,Emergency,2022-01-07,Paracetamol,Inconclusive,277Emergency

In [21]:
# What is the earliest date of admission in the dataset?

data_sort=data.sort_values("date_of_admission", ascending=False)
data_sort.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results,summary
7188,jacQuELiNe tRAn,38,Female,AB-,Diabetes,2024-05-07,David Conrad,Ramirez Inc,UnitedHealthcare,47522.849353,152,Elective,2024-06-02,Lipitor,Abnormal,152Elective
45921,ConniE ThOmas,78,Female,B-,Arthritis,2024-05-07,Carla Huff,Donaldson LLC,Aetna,21905.036670,335,Elective,2024-06-04,Ibuprofen,Normal,335Elective
9647,SYlVIa MccLURE,37,Female,O+,Obesity,2024-05-07,Daniel Moreno,"and Dawson, Payne Phillips",Cigna,12653.158803,308,Elective,2024-05-20,Paracetamol,Abnormal,308Elective
10572,SHeRRi wolf,54,Female,A-,Arthritis,2024-05-07,Joseph Reed,Davidson Inc,Cigna,25163.637862,107,Urgent,2024-05-14,Aspirin,Inconclusive,107Urgent
28226,juStin rIcE,41,Male,A-,Arthritis,2024-05-07,Andrew Bush,Cook Inc,Medicare,43161.535378,259,Emergency,2024-05-11,Paracetamol,Normal,259Emergency

In [22]:
# Which medications are associated with a Diabetes?
medD= data[(data['medical_condition']=="Diabetes")  & (data['medication'])]
medD.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results,summary
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,450Elective
6,edwArD EDWaRDs,21,Female,AB-,Diabetes,2020-11-03,Kelly Olson,Group Middleton,Medicare,19580.872345,389,Emergency,2020-11-15,Paracetamol,Inconclusive,389Emergency
12,connOR HANsEn,75,Female,A+,Diabetes,2019-12-12,Kenneth Fletcher,"Powers Miller, and Flores",Cigna,43282.283358,134,Emergency,2019-12-28,Penicillin,Abnormal,134Emergency
27,mr. KenNEth MoORE,34,Female,A+,Diabetes,2022-06-21,James Ellis,Serrano-Dixon,UnitedHealthcare,18834.801341,157,Emergency,2022-06-30,Lipitor,Abnormal,157Emergency
34,NicOlE RodriGUEz,30,Female,AB+,Diabetes,2020-01-17,Lynn Young,Poole Inc,Blue Cross,8408.949354,285,Emergency,2020-02-10,Lipitor,Normal,285Emergency