In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('healthcare.csv')

#  data aggregation

In [3]:
# Lowercase column names
data.columns = data.columns.str.lower()

# Replace spaces with underscores
data.columns = data.columns.str.replace(' ', '_')
data.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

# 1. Summary statistics

In [4]:
print(data['age'].median())

52.0

In [5]:
print(data['billing_amount'].mean())

25539.316097211795

In [6]:
# Print the maximum of the date column
print(max(data['date_of_admission']))

2024-05-07

In [7]:
print(min(data['discharge_date']))

2019-05-09

In [8]:
total_billing_amount = data['billing_amount'].agg('sum')
print(total_billing_amount)

1417432043.3952546

In [9]:
aggregated_data = data.agg({'billing_amount': 'sum', 'age': 'mean'})
print(aggregated_data)

billing_amount    1.417432e+09
age               5.153946e+01
dtype: float64

In [10]:
aggregated_data = data.agg({'billing_amount': 'sum', 'age': ['min', 'max']})
print(aggregated_data)

     billing_amount   age
sum    1.417432e+09   NaN
min             NaN  13.0
max             NaN  89.0

In [11]:
medication_types = data.drop_duplicates(subset=['medication','medical_condition'])
medication_types.head()

,name,age,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
0,Bobby JacksOn,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [12]:
# Count of non-null values in each column
counts = data.count() 
counts

name                  55500
age                   55500
gender                55500
blood_type            55500
medical_condition     55500
date_of_admission     55500
doctor                55500
hospital              55500
insurance_provider    55500
billing_amount        55500
room_number           55500
admission_type        55500
discharge_date        55500
medication            55500
test_results          55500
dtype: int64

In [13]:
# Count of unique values in the 'blood_type' column
blood_type_counts = data['blood_type'].value_counts()
blood_type_counts

A-     6969
A+     6956
AB+    6947
AB-    6945
B+     6945
B-     6944
O+     6917
O-     6877
Name: blood_type, dtype: int64

In [14]:
# Proportions of unique values
proportions = data['blood_type'].value_counts(normalize=True)
print(proportions)

A-     0.125568
A+     0.125333
AB+    0.125171
AB-    0.125135
B+     0.125135
B-     0.125117
O+     0.124631
O-     0.123910
Name: blood_type, dtype: float64

In [15]:
# By default, sort= True, which sorts the output in desc order
value_counts = data['blood_type'].value_counts(sort=False)
value_counts

B-     6944
A+     6956
A-     6969
O+     6917
AB+    6947
AB-    6945
B+     6945
O-     6877
Name: blood_type, dtype: int64

In [16]:
#What is the total billing amount for each hospital?
total_billing_amount = data.groupby('hospital')['billing_amount'].sum()
total_billing_amount

hospital
Abbott Inc                       38052.041917
Abbott Ltd                       29877.586483
Abbott Moore and Williams,       24799.596339
Abbott and Thompson, Sullivan    16738.569765
Abbott, Peters and Hoffman       37684.793727
                                     ...
and Zimmerman Sons               32706.652625
and Zuniga Davis Carlson,        42867.041298
and Zuniga Francis Peterson,     33689.630726
and Zuniga Sons                  33950.170483
and Zuniga Thompson, Blake       22067.428763
Name: billing_amount, Length: 39876, dtype: float64

In [17]:
# What is the average age of patients based on their medical condition?
average_age_by_medical_condition = data.groupby('medical_condition')['age'].mean()
average_age_by_medical_condition

medical_condition
Arthritis       51.565320
Asthma          51.575830
Cancer          51.558795
Diabetes        51.554170
Hypertension    51.741915
Obesity         51.240277
Name: age, dtype: float64

In [18]:
# How many male and female patients were admitted under each blood type?
gender_count_by_blood_type = data.groupby(['blood_type', 'gender'])['age'].count()
gender_count_by_blood_type

blood_type  gender
A+          Female    3564
            Male      3392
A-          Female    3449
            Male      3520
AB+         Female    3438
            Male      3509
AB-         Female    3461
            Male      3484
B+          Female    3377
            Male      3568
B-          Female    3461
            Male      3483
O+          Female    3464
            Male      3453
O-          Female    3512
            Male      3365
Name: age, dtype: int64

In [19]:
# How many male and female patients were admitted for a medical condition?
medical_condition_by_blood_type = data.groupby(['medical_condition', 'gender'])['age'].count()
medical_condition_by_blood_type

medical_condition  gender
Arthritis          Female    4686
                   Male      4622
Asthma             Female    4553
                   Male      4632
Cancer             Female    4602
                   Male      4625
Diabetes           Female    4651
                   Male      4653
Hypertension       Female    4612
                   Male      4633
Obesity            Female    4622
                   Male      4609
Name: age, dtype: int64

In [20]:
# What is the maximum billing amount for each insurance provider?
max_billing_amount_by_insurance = data.groupby('insurance_provider')['billing_amount'].max()
max_billing_amount_by_insurance

insurance_provider
Aetna               52211.852966
Blue Cross          52764.276736
Cigna               52170.036854
Medicare            52092.669896
UnitedHealthcare    52373.032374
Name: billing_amount, dtype: float64

In [21]:
# How many patients were admitted under each admission type?
patient_count_by_admission_type = data.groupby('admission_type')['age'].count()
patient_count_by_admission_type

admission_type
Elective     18655
Emergency    18269
Urgent       18576
Name: age, dtype: int64

In [22]:
# What is the earliest admission date and latest discharge date for each hospital?
admission_discharge_dates = data.groupby('hospital')['date_of_admission', 'discharge_date'].agg(['min', 'max'])
admission_discharge_dates

C:\Users\Pc\AppData\Local\Temp\ipykernel_11948\4043653350.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  admission_discharge_dates = data.groupby('hospital')['date_of_admission', 'discharge_date'].agg(['min', 'max'])

                              date_of_admission             discharge_date  \
                                            min         max            min
hospital
Abbott Inc                           2022-05-07  2022-05-07     2022-05-10
Abbott Ltd                           2022-08-01  2022-08-01     2022-08-20
Abbott Moore and Williams,           2022-08-25  2022-08-25     2022-09-19
Abbott and Thompson, Sullivan        2022-12-03  2022-12-03     2022-12-29
Abbott, Peters and Hoffman           2022-01-05  2022-01-05     2022-01-18
...                                         ...         ...            ...
and Zimmerman Sons                   2019-08-14  2019-08-14     2019-08-16
and Zuniga Davis Carlson,            2019-10-25  2019-10-25     2019-11-11
and Zuniga Francis Peterson,         2020-09-03  2020-09-03     2020-09-13
and Zuniga Sons                      2022-07-15  2022-07-15     2022-07-30
and Zuniga Thompson, Blake           2022-06-24  2022-06-24     2022-06-25


                                      max
hospital
Abbott Inc                     2022-05-10
Abbott Ltd                     2022-08-20
Abbott Moore and Williams,     2022-09-19
Abbott and Thompson, Sullivan  2022-12-29
Abbott, Peters and Hoffman     2022-01-18
...                                   ...
and Zimmerman Sons             2019-08-16
and Zuniga Davis Carlson,      2019-11-11
and Zuniga Francis Peterson,   2020-09-13
and Zuniga Sons                2022-07-30
and Zuniga Thompson, Blake     2022-06-25

[39876 rows x 4 columns]

In [23]:
#What is the total billing amount for each hospital?
total_billing_amount = data.groupby('hospital')['billing_amount'].sum()
total_billing_amount

hospital
Abbott Inc                       38052.041917
Abbott Ltd                       29877.586483
Abbott Moore and Williams,       24799.596339
Abbott and Thompson, Sullivan    16738.569765
Abbott, Peters and Hoffman       37684.793727
                                     ...
and Zimmerman Sons               32706.652625
and Zuniga Davis Carlson,        42867.041298
and Zuniga Francis Peterson,     33689.630726
and Zuniga Sons                  33950.170483
and Zuniga Thompson, Blake       22067.428763
Name: billing_amount, Length: 39876, dtype: float64

In [24]:
# What is the average age of patients based on their medical condition?
average_age_by_medical_condition = data.groupby('medical_condition')['age'].mean()
average_age_by_medical_condition

medical_condition
Arthritis       51.565320
Asthma          51.575830
Cancer          51.558795
Diabetes        51.554170
Hypertension    51.741915
Obesity         51.240277
Name: age, dtype: float64

In [25]:
# How many patients were admitted under each admission type?
patient_count_by_admission_type = data.groupby('admission_type')['age'].count()
patient_count_by_admission_type

admission_type
Elective     18655
Emergency    18269
Urgent       18576
Name: age, dtype: int64

# Seeting and removing index

In [26]:
# Set the index 
data_index = data.set_index("age")
data_index.head()

,name,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
age,,,,,,,,,,,,,,
30,Bobby JacksOn,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
62,LesLie TErRy,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
76,DaNnY sMitH,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
28,andrEw waTtS,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
43,adrIENNE bEll,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal

In [27]:
data_index.reset_index()
data_index.head()

,name,gender,blood_type,medical_condition,date_of_admission,doctor,hospital,insurance_provider,billing_amount,room_number,admission_type,discharge_date,medication,test_results
age,,,,,,,,,,,,,,
30,Bobby JacksOn,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal
62,LesLie TErRy,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive
76,DaNnY sMitH,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal
28,andrEw waTtS,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal
43,adrIENNE bEll,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal